# 项目依赖
# 用于HTTP请求
requests>=2.28.0

# 用于彩色日志输出
colorlog>=6.6.0

# 用于数据解压（br, gzip等格式）
brotli>=1.0.9

# Python类型注解工具（可选，用于开发）
mypy>=0.982

# 代码格式化工具（可选，用于开发）
black>=22.3.0

# 代码检查工具（可选，用于开发）
flake8>=4.0.1

# 用于处理JSON数据的增强库（可选）
jsonschema>=4.4.0

# 用于命令行参数解析的增强库（可选）
click>=8.0.4
websocket-client~=1.9.0
fonttools~=4.61.0
beautifulsoup4~=4.14.3